# Virtual environment
.venv/

# Python
backend/__pycache__/
backend/services/__pycache__/
backend/routers/__pycache__/
backend/ke/rome/__pycache__/
backend/ke/__pycache__/

# Data files
backend/chats/chat.json

# Models
backend/models/

# Frontend alternatives
frontend/altTheme.css

